# Time Series Formatter
    - Author Concetta D'Amato
    - Licence Creative Commons 4.0

In [1]:
import os
import numpy as np
import pandas as pd
import calendar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import geoframepy
from timeseries_writer import*
oms_project_path = os.path.dirname(os.getcwd())
print(oms_project_path)

C:\Users\super\OMS_Project_GEOET11\OMS_Project_GEOET11

## Read data from a csv file

In [2]:
os.chdir(oms_project_path+"\\data\\Levico")

In [3]:
os.listdir()

['1',
 'Cost9999.csv',
 'dem_Levico.tif',
 'Net_1.csv',
 'Net_allsky_1.csv',
 'Net_Levico_1.csv',
 'Pressione_Levico.csv',
 'Prova_sole.csv',
 'RadSolTot_Levico.csv',
 'Sin_.csv',
 'Temp_Levico.csv',
 'UmiAriPerc_Levico.csv',
 'VelVenMedia_Levico.csv']

In [4]:
df= pd.read_csv('Net_allsky_1.csv',skiprows=7, low_memory=False,encoding= 'unicode_escape', names=['-','Datetime','Value','Quality','Metadata'])
df.head()

    -          Datetime  Value  Quality  Metadata
0 NaN  2013-12-15 00:00    0.0      NaN       NaN
1 NaN  2013-12-15 01:00    0.0      NaN       NaN
2 NaN  2013-12-15 02:00    0.0      NaN       NaN
3 NaN  2013-12-15 03:00    0.0      NaN       NaN
4 NaN  2013-12-15 04:00    0.0      NaN       NaN

## Write an OMS timeseries

In [5]:
#os.chdir(oms_project_path+"/data/Levico")
#os.listdir()

In [6]:
date_rng = pd.date_range(start='1/1/2019 00:00', end='1/1/2020 00:00' , freq='1H')
date_rng

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-12-31 15:00:00', '2019-12-31 16:00:00',
               '2019-12-31 17:00:00', '2019-12-31 18:00:00',
               '2019-12-31 19:00:00', '2019-12-31 20:00:00',
               '2019-12-31 21:00:00', '2019-12-31 22:00:00',
               '2019-12-31 23:00:00', '2020-01-01 00:00:00'],
              dtype='datetime64[ns]', length=8761, freq='H')

In [7]:
dfOut = pd.DataFrame(date_rng, columns=['DateTime'])
dfOut['Value'] = df['Value']
dfOut.insert(loc=0, column='1', value=np.nan)
dfOut.head()

    1            DateTime  Value
0 NaN 2019-01-01 00:00:00    0.0
1 NaN 2019-01-01 01:00:00    0.0
2 NaN 2019-01-01 02:00:00    0.0
3 NaN 2019-01-01 03:00:00    0.0
4 NaN 2019-01-01 04:00:00    0.0

In [8]:
write_timeseries_csv(dfOut,'Net_allsky_Levico_1.csv')

***SUCCESS writing!  Net_allsky_Levico_1.csv