# Time Series Formatter
    - Author Concetta D'Amato
    - Licence Creative Commons 4.0

In [1]:
import os
import numpy as np
import pandas as pd
import calendar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import geoframepy
from timeseries_writer import*
oms_project_path = os.path.dirname(os.getcwd())
print(oms_project_path)

C:\Users\super\OMS_Project_GEOET11\OMS_Project_GEOET11

## Read data from a csv file

In [2]:
os.chdir(oms_project_path+"\\data\\Levico")
os.listdir()

['1',
 'dem_Levico.tif',
 'Hourly_data_no_formatted.csv',
 'Pressione_Levico.csv',
 'RadSolTot_Levico.csv',
 'RadSolTot_Levico_checked.csv',
 'RadSolTot_Levico_short_1H.csv',
 'Temp_Levico.csv',
 'Temp_Levico_out.csv',
 'VelVenMedia_Levico.csv']

In [4]:
df= pd.read_csv('Temp_Levico.csv', low_memory=False,encoding= 'unicode_escape', names=['Datetime','Value','Quality','Metadata'])
df.head()

              Datetime            Value  Quality Metadata
0                 Time            T0010      NaN      NaN
1                  and           400.00      NaN      NaN
2                 Date  Temp. aria (°C)      NaN      NaN
3                  NaN            Point     Qual      NaN
4  11:00:00 25/07/1991             26.0        1   Sites:

## Write an OMS timeseries

In [4]:
os.chdir(oms_project_path+"/data/Levico")
#os.listdir()

In [4]:
date_rng = pd.date_range(start='1/1/2018 00:00', end='1/1/2019 00:00' , freq='1H')
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-12-31 15:00:00', '2018-12-31 16:00:00',
               '2018-12-31 17:00:00', '2018-12-31 18:00:00',
               '2018-12-31 19:00:00', '2018-12-31 20:00:00',
               '2018-12-31 21:00:00', '2018-12-31 22:00:00',
               '2018-12-31 23:00:00', '2019-01-01 00:00:00'],
              dtype='datetime64[ns]', length=8761, freq='H')

In [6]:
dfOut = pd.DataFrame(date_rng, columns=['DateTime'])
dfOut['Temp'] = df['Value']
dfOut.insert(loc=0, column='1', value=np.nan)
dfOut.head()

    1            DateTime  Temp
0 NaN 2018-01-01 00:00:00  26.0
1 NaN 2018-01-01 01:00:00  26.3
2 NaN 2018-01-01 02:00:00  27.8
3 NaN 2018-01-01 03:00:00  27.5
4 NaN 2018-01-01 04:00:00  24.3

In [7]:
write_timeseries_csv(dfOut,'Temp_Levico_out.csv')

***SUCCESS writing!  Temp_Levico_out.csv