In [1]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from timeseries_writer import *

oms_project_path = os.path.dirname(os.getcwd())

In [2]:
date_rng = pd.date_range(start='1/1/2019 00:00', end='1/1/2020 00:00' , freq='1H')
date_rng

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-12-31 15:00:00', '2019-12-31 16:00:00',
               '2019-12-31 17:00:00', '2019-12-31 18:00:00',
               '2019-12-31 19:00:00', '2019-12-31 20:00:00',
               '2019-12-31 21:00:00', '2019-12-31 22:00:00',
               '2019-12-31 23:00:00', '2020-01-01 00:00:00'],
              dtype='datetime64[ns]', length=8761, freq='H')

In [3]:
d=len(date_rng)
dataframe = np.zeros(d)
#set the minimum value of time series m
m=0.05
#set the maximum value of time series M
M=0.2
for i in range(0,d):
    #create a time series with a costant value
    dataframe[i] = -9999
    
    #create a sinusoidal timeseries
    #dataframe[i] = (m+M)/2 + ((m+M)/2-m)*np.sin(2*np.pi/(365*24)*i)

In [6]:
dfOut = pd.DataFrame(date_rng, columns=['date'])
dfOut['val'] = dataframe
dfOut.insert(loc=0, column='-', value=np.nan)
dfOut.head()

    -                date     val
0 NaN 2019-01-01 00:00:00 -9999.0
1 NaN 2019-01-01 01:00:00 -9999.0
2 NaN 2019-01-01 02:00:00 -9999.0
3 NaN 2019-01-01 03:00:00 -9999.0
4 NaN 2019-01-01 04:00:00 -9999.0

In [7]:
write_timeseries_csv(dfOut,'GHF_Levico.csv')

***SUCCESS writing!  GHF_Levico.csv