# Creatore Serie Temporali

In [1]:
import os
import numpy as np
import pandas as pd
import calendar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import geoframepy
from timeseries_writer import *
oms_project_path = os.path.dirname(os.getcwd())

In [2]:
os.chdir(oms_project_path+'\\data\\Levico')
os.listdir()

['1',
 'dem_Levico.tif',
 'Pressione_Levico.csv',
 'RadSolTot_Levico.csv',
 'Temp_Levico.csv']

In [3]:
df= pd.read_csv("RadSolTot_Levico.csv", skiprows=4 , on_bad_lines='skip', low_memory=False, encoding = 'unicode_escape',names=['Datetime','Value','Quality','Metadata'])
df.head()

,Datetime,Value,Quality,Metadata
0,11:00:00 17/08/2004,NaN,255.0,Sites:
1,12:00:00 17/08/2004,759.0,1.0,T0010 - Levico (Terme) Lat:46.010558 Long:11.3...
2,13:00:00 17/08/2004,1062.0,1.0,NaN
3,14:00:00 17/08/2004,1850.0,1.0,Variables:
4,15:00:00 17/08/2004,1646.0,1.0,750 - Radiazione solare totale (KJoule/metroqu...

In [ ]:
#df['Datetime'] = pd.to_datetime(df['Datetime'], dayfirst=True, errors='ignore')

In [6]:
df_dates=df[['Datetime','Value']].copy()

In [7]:
df_dates.set_index('Datetime', inplace=True)
df_dates.head()

                      Value
Datetime
11:00:00 17/08/2004     NaN
12:00:00 17/08/2004   759.0
13:00:00 17/08/2004  1062.0
14:00:00 17/08/2004  1850.0
15:00:00 17/08/2004  1646.0

In [8]:
df_hourly = df_dates.resample('1H').mean()
df_hourly.head()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [ ]:
date_rng = pd.date_range(start='1/1/2019 00:00', end='1/1/2020 00:00' , freq='1H')
date_rng

In [ ]:
dfOut = pd.DataFrame(date_rng, columns=['DateTime'])
dfOut['RadNet'] = df_dates['Value']
#dfOut.insert(loc=0, column='-', value=np.nan)

In [ ]:
dfOut

In [ ]:
df_hourly = df.resample('1H').mean()
df_hourly.head()

In [ ]:
date_rng = pd.date_range(start='1/1/2019 00:00', end='1/1/2020 00:00' , freq='1H')
date_rng

In [ ]:
df.set_index('Datetime', inplace=True)
df.head()

In [ ]:
df = df.replace(np.nan,'-9999')

In [ ]:
dfOut = pd.DataFrame(date_rng, columns=['DateTime'])
dfOut['RadNet'] = df['Value']
dfOut.insert(loc=0, column='-', value=np.nan)

In [ ]:
dfOut=dfOut.drop('-',axis=1)

In [ ]:
dfOut

In [ ]:
df_dates = pd.DataFrame({'Time': date_rng})
df_dates.set_index('Time',inplace=True)
df_dates = df_dates.join(df_hourly, how='outer')

In [ ]:
dfOut = dfOut.replace(np.nan,'-9999')

In [ ]:
write_timeseries_csv(dfOut,'Temp_Levico_OUT_1.csv')

io_csv.write_OMS_timeseries(df.iloc[:,1:], oms_project_path+'\\data\\Levico\\RadSolTot_Levico_OUT_1.csv', has_datetime=False)