# Time Series Formatter
    - Author Concetta D'Amato
    - Licence Creative Commons 4.0

In [1]:
import os
import numpy as np
import pandas as pd
import calendar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import geoframepy
from timeseries_writer import*
oms_project_path = os.path.dirname(os.getcwd())
print(oms_project_path)

C:\Users\super\OMS_Project_GEOET11\OMS_Project_GEOET11

## Read data from a csv file

In [2]:
os.chdir(oms_project_path+"\\data\\Cavone\\2")

In [3]:
os.listdir()

['airT_2.csv',
 'Cavone_subbasins_s_ID_2.dbf',
 'Cavone_subbasins_s_ID_2.prj',
 'Cavone_subbasins_s_ID_2.qpj',
 'Cavone_subbasins_s_ID_2.shp',
 'Cavone_subbasins_s_ID_2.shx',
 'centroids_ID_2.dbf',
 'centroids_ID_2.prj',
 'centroids_ID_2.qpj',
 'centroids_ID_2.shp',
 'centroids_ID_2.shx',
 'dem_2.prj',
 'dem_2.tif',
 'dem_2.tif.aux.xml',
 'etp_2.csv',
 'GHF_2.csv',
 'LAI_2.csv',
 'LongDownwelling_2.csv',
 'LongUpwelling_2.csv',
 'nan.csv',
 'Net_2.csv',
 'precip_2.csv',
 'Pres_2.csv',
 'RH_2.csv',
 'ShortwaveDiffuse_2.csv',
 'ShortwaveDirect_2.csv',
 'sky_2.prj',
 'sky_2.tif',
 'SWTotal_2.csv',
 'total_2.csv',
 'Wind_2.csv']

In [4]:
filename='LongDownwelling'

In [5]:
n='2'

In [6]:
df= pd.read_csv(filename+'_'+n+'.csv',skiprows=7, low_memory=False,encoding= 'unicode_escape', names=['-','Datetime','Value','Quality','Metadata'])
df.head()

    -          Datetime       Value  Quality  Metadata
0 NaN  2013-12-15 00:00  254.310104      NaN       NaN
1 NaN  2013-12-15 01:00  255.910792      NaN       NaN
2 NaN  2013-12-15 02:00  256.825431      NaN       NaN
3 NaN  2013-12-15 03:00  258.421882      NaN       NaN
4 NaN  2013-12-15 04:00  257.583118      NaN       NaN

## Write an OMS timeseries

In [7]:
#os.chdir(oms_project_path+"/data/Levico")
#os.listdir()

In [8]:
date_rng = pd.date_range(start='1/1/2019 00:00', end='1/1/2020 00:00' , freq='1H')
date_rng

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-12-31 15:00:00', '2019-12-31 16:00:00',
               '2019-12-31 17:00:00', '2019-12-31 18:00:00',
               '2019-12-31 19:00:00', '2019-12-31 20:00:00',
               '2019-12-31 21:00:00', '2019-12-31 22:00:00',
               '2019-12-31 23:00:00', '2020-01-01 00:00:00'],
              dtype='datetime64[ns]', length=8761, freq='H')

In [9]:
dfOut = pd.DataFrame(date_rng, columns=['DateTime'])
dfOut['Value'] = df['Value']
dfOut.insert(loc=0, column='1', value=np.nan)
dfOut.head()

    1            DateTime       Value
0 NaN 2019-01-01 00:00:00  254.310104
1 NaN 2019-01-01 01:00:00  255.910792
2 NaN 2019-01-01 02:00:00  256.825431
3 NaN 2019-01-01 03:00:00  258.421882
4 NaN 2019-01-01 04:00:00  257.583118

In [10]:
write_timeseries_csv(dfOut,oms_project_path+'\\data\\Levico\\'+n+'\\'+filename+'_Levico_'+n+'.csv')

***SUCCESS writing!  C:\Users\super\OMS_Project_GEOET11\OMS_Project_GEOET11\data\Levico\2\LongDownwelling_Levico_2.csv